.scrolling-container {
    width: 100%;
    overflow: hidden;
}

.scrolling-content {
    display: flex;
    transition: transform 0.5s ease;
}

.plant-item {
    flex: 0 0 33.33%;
    min-width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

.image-wrapper {
    width: 100%;
    padding-bottom: 75%; /* Уменьшаем высоту с 100% до 75% */
    position: relative;
    overflow: hidden;
    border-radius: 10px; /* Добавляем закругленные углы */
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Добавляем закругленные углы для самого изображения */
}

.plant-info {
    margin-top: 10px;
}
