/* topic-details.css */
.topic-details-container {
    padding-left: 15px;
}

#topicDetails {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
