@page
@model ResultModel
@{
    ViewData["Title"] = "Результат";
}

<h2>Выбранная точка</h2>

<p><strong>Широта:</strong> @Model.Latitude</p>
<p><strong>Долгота:</strong> @Model.Longitude</p>
<p><strong>Регион:</strong> @Model.Region</p>
